.hero__section {
  background: var(--hero-bg);
}

.hero__content h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}
.hero__img {
  display: flex;
  align-items: center;
}
.hero__content p {
  color: var(--primary-color);
  line-height: 28px;
}
.hero__content p:nth-child(1) {
  font-weight: 500;
}

.shop__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  margin-top: 40px;
  cursor: pointer;
}
.shop__btn a {
  color: #fff !important;
}
.shop__btn:hover {
  box-shadow: 1px 1px 2px var(--primary-color);
  background-color: #353174;
}
.hero__content {
  padding: 40px 0;
}

.section__title {
  color: var(--primary-color);
  font-weight: 400;
}

.timer__count {
  background: var(--primary-color);
}

.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: #fff;
  color: var(--primary-color);
  font-size: 1rem;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 700;
}
.buy__btn a {
  color: var(--primary-color) !important;
}
.buy__btn:hover {
  box-shadow: 1px 1px 2px #fff;
  background-color: aliceblue;
}

.timing {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 1.8rem;
  }
}
